@font-face {
    font-family: 'Gotham Pro Bold';
    src: url(../corel_draw/fonts/gothampro_bold.ttf);
  }
  
  
  @font-face {
    font-family: 'Gotham Pro';
    src: url(../corel_draw/fonts/gothampro_medium.ttf);
  }